<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <title>Django-Context-Filters-Condition-Loop-Tags</title>
</head>
<body style="margin: 100px">
    <h3>Django-Context-Filters-Condition-Loop-Tags</h3>
    <hr>
    <h3>Template Contexts</h3>
    <h4>{{nam1}} + {{ nam2 }} + {{ nam3 }} + {{ nam4 }} = {{ sum }}</h4>
    <br>

    <h3>Template Text Filters</h3>
    <h4>My Name Capital First- {{ name | capfirst }}</h4>
    <h4>My Name Word Count- {{ name | wordcount }}</h4>
    <h4>Country Name Upper Case- {{ country | upper }}</h4>
    <h4>Country Name Lower Case- {{ country | lower }}</h4>
    <h4>Country Name Title Case- {{ country | title }}</h4>
    <h4>Word Cut- {{ name | cut:"a" }}</h4>
    <br>

    <h3>Template Number Filters</h3>
    <h4>Add 10- {{ nam4 | add:10 }}</h4>
    <h4>Divide 10- {{ nam4 | divisibleby:10 }}</h4>
    <h4>Float Format 2- {{ nam4 | floatformat:2 }}</h4>
    <br>

    <h3>Template List Filters</h3>
    <h4>Skills List- {{ skills }}</h4>
    <h4>Skills Length- {{ skills | length }}</h4>
    <h4>Skills First Items - {{ skills | first }}</h4>
    <h4>Skills Last Items- {{ skills | last }}</h4>
    <h4>Skills List Join- {{ skills | join:", " }}</h4>
    <br>

    <h3>Template Datetime Filters</h3>
    <h4>DateTime- {{ datetime }}</h4>
    <h4>DateTime Format- {{ datetime | date:" D- d- m -Y" }}</h4>
    <h4>DateTime Util- {{ datetime | timeuntil }}</h4>
    <h4>DateTime Since- {{ datetime | timesince }}</h4>
    <br>

    <h3>Escape Filters</h3>
    <h4>{{ button }}</h4>
    <h4>{{ button | safe }}</h4>
    <br>

    <h3>Conditional Filters</h3>
    <h4>{{ isBangladeshi}}</h4>
    <h4>{{ isBangladeshi | default:"No Value"}}</h4>
    <br>

    <h3>Dictionary Filters</h3>
    <h4>My Class- {{ myclass }}</h4>
    <h4>My Class Dict Sort- {{ myclass | dictsort:"name"}}</h4>
    <h4>My Class Dict Revers Sort- {{ myclass | dictsortreversed:"name" }}</h4>
    <h4>My Class Join- {{ myclass | join:"," }}</h4>
    <br>

    <h3>If-Else Statement</h3>
    <p>{%  if isLogin %}
        <button>Logout</button>
    {% else %}
        <button>Login</button>
    {% endif %}</p>
    <br>

    <h3>Loops</h3>
    <table border="1" style="text-align: center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>

        <tbody>
            {% for p in products %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    {% comment %}
    this is comment
    {% endcomment %}

    <h3>Include use</h3>
    {% include "componets/form.html" %}

</body>
</html>